<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan
            base-package="com.rp.automation.framework" />
    <context:annotation-config />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>env/${env}.properties</value>
        </property>
    </bean>

    <bean id="grid_url" class="java.lang.String">
        <constructor-arg value="${grid_url}"/>
    </bean>

    <bean id="root_folder" class="java.lang.String">
        <constructor-arg value="${root_folder}"/>
    </bean>

    <bean id="crm_url" class="java.lang.String">
        <constructor-arg value="${crm_url}"/>
    </bean>

    <bean id="username" class="java.lang.String">
        <constructor-arg value="${username}"/>
    </bean>

    <bean id="password" class="java.lang.String">
        <constructor-arg value="${password}"/>
    </bean>

    <bean id="proj_url" class="java.lang.String">
        <constructor-arg value="${proj_url}"/>
    </bean>

    <bean id="prj_username" class="java.lang.String">
        <constructor-arg value="${prj_username}"/>
    </bean>

    <bean id="prj_password" class="java.lang.String">
        <constructor-arg value="${prj_password}"/>
    </bean>

</beans>